USE [master]
GO
/****** Object:  Database [Todos]    Script Date: 12/5/2020 8:20:54 AM ******/
CREATE DATABASE [Todos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Todos', FILENAME = N'C:\Users\gabiflorea\Todos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Todos_log', FILENAME = N'C:\Users\gabiflorea\Todos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Todos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Todos]
GO
USE [Todos]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/5/2020 8:20:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Todos]    Script Date: 12/5/2020 8:20:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todos](
	[TodoId] [int] IDENTITY(1,1) NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Todos] PRIMARY KEY CLUSTERED 
(
	[TodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/5/2020 8:20:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTodos]    Script Date: 12/5/2020 8:20:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTodos](
	[UserTodoId] [int] IDENTITY(1,1) NOT NULL,
	[TodoId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserTodos] PRIMARY KEY CLUSTERED 
(
	[UserTodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTodos_TodoId]    Script Date: 12/5/2020 8:20:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserTodos_TodoId] ON [dbo].[UserTodos]
(
	[TodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTodos_UserId]    Script Date: 12/5/2020 8:20:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserTodos_UserId] ON [dbo].[UserTodos]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserTodos]  WITH CHECK ADD  CONSTRAINT [FK_UserTodos_Todos_TodoId] FOREIGN KEY([TodoId])
REFERENCES [dbo].[Todos] ([TodoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTodos] CHECK CONSTRAINT [FK_UserTodos_Todos_TodoId]
GO
ALTER TABLE [dbo].[UserTodos]  WITH CHECK ADD  CONSTRAINT [FK_UserTodos_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTodos] CHECK CONSTRAINT [FK_UserTodos_Users_UserId]
GO
USE [master]
GO
